.wrapper{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-image: url(https://files.oaiusercontent.com/file-5pbC2cBL2vWV1F2Yzbxr8A?se=2025-03-03T09%3A06%3A19Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D248ef9f9-a75f-46c0-bcc5-67b90e2d9fda.webp&sig=plNsNMT26zoJ0A0/xYq6GT%2BZ0rnpBE45bnMwuHGMCUw%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}